@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sect-initial{
    background-color: #1a1d1a;
    height: 100vh;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sect-initial h1{
    font-size: 4.2em;
}

.sect-emperor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    column-gap: 30px;
    height: 100vh;
    background-color: #A41623;
}

.card-emperors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    position: relative;
    top: 10%;
    left: 6%;
    width: 340px;
    height: 400px;
    padding: 28px;
    text-align: center;
}

.card-emperors h2{
    line-height: 2em;
}

#img-laurel{
    width: 170px;
    padding-bottom: 20px;
}

.img-emperor{
    width: 250px;
}

.modal{
    display: none;
    padding: 10px;
    position: fixed;
    top: 15px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1; /* garante que ele fique acima do resto do conteudo */
    background-color: #242424d0;
}

.modal-emperor-history{
    background-color: #ffff;
    width: 650px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: auto;
    text-align: justify;

}

.modalBtn{
    background-color: transparent;
    border: 1px solid #00000049;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.closeBttn{
    position: absolute;
    cursor:pointer;
    background-color: #A41623;
    border-radius: 20px;
    padding: 7px;
    top: 0;
    right: 25%;
}

/* Paleta de Cores
Section (primeira section de apresentação) - #1A1D1A
Section (segunda section que ficará no fundo) -  #A41623 / #BE1E1E
Div (divs que ficarão em frente a segunda section) -  #F7F7F7
Folhas de oliveira -  #CBA135 
*/

