@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face{
    font-family: 'Augustus';
    src: url(fonts/Constantine.otf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.sect-initial{
    background-color: #1a1d1a;
    height: 100vh;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sect-initial h1{
    font-family: 'Augustus', Arial, sans-serif;
    font-size: 4em;
    letter-spacing: 3px;
    text-align: center;
}

.sect-initial h2{
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.sect-emperor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 5%;
    justify-items: center;
    background-color: #A41623;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.219) 0px 18px 36px -18px inset;
}

.card-emperors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    width: 340px;
    height: 400px;
    padding: 28px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Augustus', Arial, Helvetica, sans-serif;
}

.card-emperors h2{
    line-height: 2.1em;
    font-weight: bolder;
}

.card-emperors:hover{
    border: 2px solid  #CBA135 ;
    box-shadow: rgba(0, 0, 0, 0.342) 3px 3px 20px 4px;
}

#img-laurel{
    width: 210px;
    padding-bottom: 15px;
}

.img-emperor{
    width: 250px;
}

.modal{
    display: none;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1; /* garante que ele fique acima do resto do conteudo */
    background-color: #242424e0;
}

.modal-emperor-history{
    background-color: #fff;
    width: 850px;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px;
    margin: auto;
    text-align:left;
    line-height: 1.2em;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 1em;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.modal-emperor-history p{
    padding: 11px;
}

.modal-emperor-history h3{
    margin-bottom: 15px;
    text-decoration:underline;
    font-family: 'Lora', Arial, Helvetica, sans-serif;
}

.modalBtn{
    background-color: transparent;
    border: 2px solid #00000049;
    border-radius: 4px;
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.modalBtn:hover{
    background-color: #1a1d1a;
    color: #ffff;
}

.closeBttn{
    position: absolute;
    cursor: pointer;
    background-color: #A41623;
    color: #ffff;
    border-radius: 6px;
    padding: 5px;
    top: 18px;
    right: 21%;
}

/* Paleta de Cores
Section (primeira section de apresentação) - #1A1D1A
Section (segunda section que ficará no fundo) -  #A41623 / #BE1E1E
Div (divs que ficarão em frente a segunda section) -  #F7F7F7
Folhas de oliveira -  #CBA135 
*/

